.form {
  margin: 4rem 5rem 3rem;
  width: 50%;
}

.form img {
  width: 20rem;
  padding-bottom: 4rem;
}

.form-container button {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 6rem;
  width: 100%;
  border: 1px solid #0a9c7d;
  padding: 1rem 0;
  background-color: #fff;
  color: #0a9c7d;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.4rem;
}

.form-container img {
  width: 2.2rem;
  padding-bottom: 0;
}

.form-container button:is(:hover, :active) {
  background-color: #0a9c7d;
  color: #fff;
}

.break {
  display: flex;
  flex: 1;
  font-size: 1.8rem;
  color: #706363;
  gap: 2rem;
  margin-bottom: 4rem;
}

hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #c4c4c4;
}

.form-container label {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
}

.form-container input {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1.3rem 0 1.3rem 0.8rem;
  border: 1px solid #d3d1d1;
  border-radius: 8px;
  font-size: inherit;
}

.form-control input::placeholder {
  color: #a49e9e;
}

.form-container span {
  color: #e93c3c;
}

.password {
  position: relative;
}

.password img {
  position: absolute;
  right: 15px;
  transform: translate(0, 50%);
  top: 40%;
  cursor: pointer;
}

.form-container label:last-child {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  font-weight: 400;
  padding-bottom: 3rem;
}

.form-container label:last-child input {
  width: fit-content;
}

.link {
  color: #0a9c7d;
  text-decoration: none;
}

.error-text {
  display: inline;
  font-size: 1rem;
  font-weight: 400;
  color: #b40e0e;
}
