.pagination {
  width: fit-content;
  margin: 0 auto;
}

.pagination p {
  display: flex;
  gap: 0.7rem;
  font-weight: 500;
  color: #fff;
}

.pagination span {
  padding: 0.2rem;
  width: 1.8rem;
  border-radius: 0.2rem;
  text-align: center;
  background-color: #b4eadf;
  cursor: pointer;
}

.pagination .active {
  background-color: #50ceb3;
}
