.questions {
  padding: 1.5rem 2.5rem;
}

.questions ul {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.questions li {
  margin-bottom: 1.5rem;
}

.questions p {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.questions span {
  font-size: 1.5rem;
}

.questions label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.questions label:not(:last-child) {
  margin-bottom: 0.5rem;
}

.page-nav {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #0a9c7d;
  color: #fff;
  /* border: 1px solid #0a9c7d; */
  border: none;
  padding: 0.9rem 2.5rem;
  border-radius: 0.5rem;
  width: 12rem;
  font-weight: 500;
  cursor: pointer;
}

.active {
  background-color: #fff;
  color: #0a9c7d;
  border: 1px solid #0a9c7d;
}

button:disabled,
button[disabled] {
  background: none;
  background-color: #b4eadf;
  color: #fff;
  cursor: not-allowed;
  border-color: transparent;
}

.questions button:disabled,
.questions button[disabled] {
  padding: 1rem 0;
}

.active:hover {
  background: linear-gradient(to right, #05b993, #3c2e9e);
  color: #fff;
  border: none;
  padding: 1rem 0;
}

.active:active {
  background: none;
  background-color: #50ceb3;
  color: #fff;
  border-color: transparent;
}

.page-nav button:last-child {
  background-color: #0a9c7d;
  color: #fff;
  border: none;
}

.page-nav button:last-child:hover {
  background: linear-gradient(to right, #05b993, #3c2e9e);
  color: #fff;
}

.page-nav button:last-child:active {
  background: none;
  background-color: #50ceb3;
}

.active:hover {
  background: linear-gradient(to right, #05b993, #3c2e9e);
  color: #fff;
}

.active:active {
  background: none;
  background-color: #50ceb3;
  color: #fff;
  border-color: transparent;
}
