.dashboard {
  padding: 4rem 5rem 4rem 3rem;
}

.dashboard h1 {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 1.7rem;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.intro p {
  font-size: 2rem;
}

.intro span {
  font-weight: 500;
}

.display {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.summary {
  border: 0.1rem solid #c4c4c4;
  border-radius: 1.6rem;
  width: 25%;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.summary p:first-child {
  font-size: 4rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.summary p:last-child {
  color: #706363;
  font-size: 2.4rem;
}

.dashboard h2 {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
