.assessments {
  margin: 4rem 3.5rem 2rem 2rem;
}

.header {
  display: flex;
  margin-bottom: 3rem;
}

.back {
  display: flex;
  gap: 1rem;
  width: 35%;
  align-items: center;
  cursor: pointer;
}

.back img {
  width: 5%;
}

.back p {
  font-size: 1.5rem;
}

.header-main {
  font-size: 2.5rem;
  font-weight: 500;
}

.header-sub {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.text {
  margin-bottom: 3rem;
}

.link p {
  margin: 0 auto;
  width: 60%;
  cursor: pointer;
  text-align: center;
  background-color: #0a9c7d;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}
