.dashboard {
  padding: 4rem 5rem 4rem 3rem;
}

.header-main {
  font-size: 1.7rem;
  font-weight: 500;
  padding-bottom: 1.7rem;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.text {
  font-size: 1.5rem;
}

.intro span {
  font-weight: 500;
}

.display {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.2rem;
}

.summary {
  border: 0.1rem solid #c4c4c4;
  border-radius: 1.6rem;
  width: 25%;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.num {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.description {
  color: #706363;
  font-size: 1.5rem;
}

.header-sub {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}
