.dashboard {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns:
    [sidebar-start] 26.7rem [sidebar-end full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]
    1fr [full-end];
}

.navbar {
  /* background-color: red; */
  grid-column: sidebar-start / full-end;
}

.sidebar {
  background-color: #fbfbfb;
  grid-column: sidebar-start / sidebar-end;
  /* grid-row: 2 / -1; */
}

.content {
  /* background-color: green; */
  grid-column: center-start / center-end;
}
