.dashboard {
  display: grid;
  grid-template-rows: 10vh minmax(90vh, min-content);
  grid-template-columns:
    [sidebar-start] 25rem [sidebar-end full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]
    1fr [full-end];
}

.navbar {
  grid-column: sidebar-start / full-end;
  z-index: 5;
}

.sidebar {
  background-color: #fbfbfb;
  grid-column: sidebar-start / sidebar-end;
  z-index: 1;
}

.content {
  grid-column: center-start / center-end;
}
