.notifications {
  padding: 3rem;
}

.notifications h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}

.header-box p {
  font-size: 1.2rem;
  font-weight: 500;
}

.body img {
  margin: 0 auto;
  width: 12rem;
  margin-bottom: 1.5rem;
  padding-top: 5.5rem;
}

.body .display {
  display: flex;
}

.body p {
  text-align: center;
}

.main-text {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.text p:last-child {
  font-size: 1.2rem;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.05rem solid #838383;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.message p:first-child {
  font-size: 1.5rem;
}

.message span {
  color: #0a9c7d;
  font-weight: 500;
  cursor: pointer;
}

.message-time {
  color: #a49e9e;
}

.message .message-time p {
  font-size: 1.2rem;
}
