.body {
  padding: 2.5rem;
}

.body h1 {
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.main img {
  width: 50rem;
  margin: 0 auto;
}
