.navbar {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: #fbfbfb;
  border-bottom: 0.1rem solid #e9e9e9;
}

.logo {
  width: 12%;
}

.search {
  display: flex;
  width: 49.5%;
  position: relative;
}

.search input {
  background-color: #f4f4f4;
  border: 0.1rem solid #e9e9e9;
  padding: 1.3rem 1.5rem;
  border-radius: 0.8rem;
  width: 75%;
}

.search input::placeholder {
  color: #a49e9e;
}

.search img {
  position: absolute;
  right: 19rem;
  transform: translate(0, 50%);
  top: 0;
}

.user {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.user p {
  background-color: #d9d9d9;
  padding: 0.8rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 500;
}

.user img {
  width: 20%;
  transition: all;
}

.rotate {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  right: 0.5rem;
  transform: translate(0, 50%);
  width: 10rem;
  top: 15%;
  font-size: 1.5rem;
  background-color: #fff;
  padding: 2rem 1.5rem 1rem 1rem;
  box-shadow: 0.1rem 0.3rem 0.5rem rgb(0, 0, 0, 0.25);
  border-radius: 1rem;
  animation: slideIn 300ms ease-in;
  transition: animation 0.3s;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: inherit;
}

.dropdown li:first-child {
  padding-bottom: 1.5rem;
}

@keyframes slideIn {
  from {
    top: 5%;
    opacity: 0;
  }

  to {
    top: 9%;
    opacity: 1;
  }
}
