.display {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.timetable {
  display: flex;
  justify-content: space-between;
  border: 0.1rem solid #838383;
  align-items: center;
  padding: 3rem 1.5rem;
  border-radius: 1rem;
}

.type {
  font-size: 2rem;
  font-weight: 500;
  width: 33.33%;
}

.date {
  font-size: 2rem;
  color: #706363;
  width: 33.33%;
}

.active {
  padding: 1.5rem 4rem;
  border: none;
  background-color: #0a9c7d;
  border-radius: 0.8rem;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
}

.inactive {
  padding: 1.5rem 4rem;
  border: none;
  border-radius: 0.8rem;
  color: #fff;
  font-family: inherit;
  background-color: #b4eadf;
}
