.back {
  display: flex;
  gap: 1rem;
  width: 35%;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
}

.back button {
  display: flex;
  background-color: transparent;
  padding: 1rem 1rem 1rem 0;
  border: none;
  border-color: transparent;
  color: inherit;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  cursor: pointer;
  width: fit-content;
}

.back img {
  width: 1.6rem;
}
